<div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6">
  <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-200 mb-4">Raw Manifest</h3>
  <% if @manifest && @manifest[:raw].present? %>
    <div class="relative">
        <div class="border dark:border-gray-700 rounded-lg p-0">
            <pre class="highlight bg-gray-100 dark:bg-gray-900 p-4 rounded-lg overflow-x-auto text-sm text-gray-800 dark:text-gray-200"><%= raw(rouge_highlight(JSON.pretty_generate(@manifest[:raw]))) %></pre>
        </div>
    </div>
  <% else %>
    <p class="text-gray-600 dark:text-gray-300">No manifest data available.</p>
  <% end %>
</div> 