<div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 mb-6">
<h2 class="text-xl font-semibold text-gray-700 dark:text-gray-200">Secure Annex (beta)</h2>
<div class="space-y-3 text-gray-600 dark:text-gray-300">
  <!-- Permissions List -->
  <% if @manifest %>
    <div class="mt-4">
      <div class="space-y-2">
        
        Coming soon...

      </div>
    </div>
  <% end %>
</div>
</div>